.industry {
  padding-top: 80px;
}

.titleContainer {
  width: 400px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%
  }
  .titleContainer {
    width: 300px;
    margin-bottom: 20px;
  }
}
